body{
   /*  background-color: darkgreen; */
    
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url("img/b-triangle.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%) opacity(50%);   
}

#calcWrap {
    background-color: #f3f2ef;
    border-radius: 10px;
    padding:10px;
    
}

#calcDisplay {
    background: lightslategray;
    color: white;
    width: 100%;
    /* height: 50px; */
    margin-bottom: 30px;
}

#calcInput {
    width: 100%;
    height: 30px; 
}

.calcButtons {
    display: inline-grid;
    width:100%;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "CE C Back Divide"
        "b7 b8 b9 Times"
        "b4 b5 b6 Minus"
        "b1 b2 b3 Plus"
        "Dot b0 Equal Equal";
}

#button0 {
    grid-area: b0;
}

#button1 {
    grid-area: b1;
}

#button2 {
    grid-area: b2;
}

#button3 {
    grid-area: b3;
}

#button4 {
    grid-area: b4;
}

#button5 {
    grid-area: b5;
}

#button6 {
    grid-area: b6;
}

#button7 {
    grid-area: b7;
}

#button8 {
    grid-area: b8;
}

#button9 {
    grid-area: b9;
}

#buttonCE {
    grid-area: CE;
}

#buttonC {
    grid-area: C;
}

#buttonBack {
    grid-area: Back;
}

#buttonDivide {
    grid-area: Divide;
}

#buttonTimes {
    grid-area: Times;
}

#buttonPlus {
    grid-area: Plus;
}

#buttonMinus {
    grid-area: Minus;
}

#buttonDot {
    grid-area: Dot;
}

#buttonEqual {
    grid-area: Equal;
}

.pressed {
    background: lightgray;
}

.calcButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border:1px grey solid;
    border-radius: 5px;
    margin:3px;
}

#calcHistory{
    height: 10vw;
    background: darkslategrey;
    width: 10vW;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

#calcHistory > h3{
    text-align: center;
    font-weight: bold;
}